@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  height: 1500px;
}

body {
  background-image: url(/src/components/images/bckgrnd.jpg);
  background-size: cover;
  background-attachment: fixed;
}